@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

html {
  font-size: 62.5%;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.nav-left,
.navbar-links {
  display: flex;
  align-items: center;
}

nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 3rem 12rem;
  transition: all 0.3s;
  z-index: 10;
  gap: 10rem;
}
nav .container .hamburger {
  display: none;
  cursor: pointer;
}
nav .container .hamburger .bar {
  display: block;
  width: 3rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-left {
  gap: 0.8rem;
}
.nav-left p {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 120%;
  display: flex;
  align-items: center;
}
.nav-left p p {
  color: #1d1d1d;
}

.nav-right {
  margin-left: auto;
}

.navbar-links {
  align-items: center;
  gap: 3.3rem;
}
.navbar-links a {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-links .email-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #205fff;
  font-weight: 700;
  padding: 1.3rem 1.6rem;
  border: 1px solid #205fff;
  border-radius: 50px;
  width: 15rem;
}

.hero {
  padding-top: 10.8rem;
  background-color: #eaeaea;
  width: 100vw;
  height: 100vh;
  gap: 3.8rem;
  justify-content: space-between;
  align-items: center;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 3rem 12rem;
  align-items: center;
}
.hero h1 {
  font-size: 8.4rem;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 4.8rem;
}
.hero p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 4.8rem;
}
.hero a {
  text-decoration: none;
}
.hero .hero-text {
  flex: 1 1 50%;
}
.hero .hero-img {
  flex: 1 1 50%;
}
.hero .hero-img img {
  margin-top: -3rem;
  width: 100%;
  min-width: 50rem;
  height: auto;
}

.hero-links {
  display: flex;
  gap: 5.6rem;
  font-size: 1.6rem;
  align-items: center;
}
.hero-links .hero-email-btn {
  padding: 1.6rem 3.2rem;
  border-radius: 7rem;
  display: flex;
  gap: 4.2rem;
  align-items: center;
  transition: all 0.3s;
  font-weight: 700;
  background-color: #205fff;
  color: #ffffff;
}
.hero-links .hero-email-btn:hover {
  background-color: #1a4ccc;
}
.hero-links .hero-email-btn img {
  width: 2.4rem;
  height: 2.4rem;
}
.hero-links .resume-link {
  color: #205fff;
  font-weight: 600;
  transition: all 3s;
}
.hero-links .resume-link:hover {
  text-decoration: underline;
}

.about {
  background-color: #1d1d1d;
  color: #ffffff;
}
.about .container {
  padding: 14rem 12rem;
}
.about .about-flex-container {
  display: flex;
  gap: 6rem;
}
.about .about-left {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  width: 50%;
}
.about .about-right {
  width: 50%;
  align-self: stretch;
}
.about .about-heading {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 3.2rem;
}
.about .about-intro {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6rem;
}
.about .about-intro .about-span1 {
  color: #ff205f;
}
.about .about-intro .about-span2 {
  color: #5fff20;
}
.about .about-body {
  font-size: 2rem;
  line-height: 160%;
  font-weight: 400;
  margin-bottom: 4rem;
}
.about .social-icons {
  display: flex;
  gap: 2.4rem;
}
.about .social-icons svg {
  height: 5rem;
  width: auto;
  background-color: #205fff;
  padding: 1rem;
  border-radius: 50%;
  overflow: visible;
}

.tools .container {
  padding: 14rem 12rem;
}
.tools h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: rgba(29, 29, 29, 0.5);
  margin-bottom: 1.6rem;
}
.tools h3 {
  font-size: 5.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 6.4rem;
  margin-bottom: 4.8rem;
}
.tools .tool-bar {
  display: flex;
  padding: 1.6rem;
  background-color: #efefef;
  border-radius: 5rem;
  justify-content: space-around;
  gap: 3.2rem;
  margin-bottom: 6.8rem;
}
.tools button {
  color: #205fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.04rem;
  border-style: none;
  padding: 1.3rem 2rem;
  cursor: pointer;
  flex-grow: 1;
}
.tools .hidden {
  display: none;
}
.tools .selected {
  background-color: #205fff;
  color: #ffffff;
  border-radius: 70px;
}

.tool-grid {
  display: grid;
  gap: 4rem 4.8rem;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-card img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 0.8rem;
}
.tool-card p {
  color: #1d1d1d;
  font-size: 2rem;
  letter-spacing: -0.2px;
  text-align: center;
}

.projects {
  background-color: #eaeaea;
}
.projects .container {
  padding: 14rem 12rem;
}
.projects h2 {
  text-align: center;
  font-size: 1.6rem;
  color: rgba(29, 29, 29, 0.5);
  line-height: 140%;
  margin-bottom: 1.3rem;
}
.projects h3 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: 0.264rem;
  color: #1d1d1d;
  margin-bottom: 6rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3rem;
}
.project-grid a {
  text-decoration: none;
}
.project-grid .project-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 2rem;
  gap: 2.1rem;
  align-items: center;
  transition: all 0.3s;
  width: auto;
}
.project-grid .project-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.5rem);
  cursor: pointer;
}
.project-grid .project-card img {
  width: 30rem;
  height: 22rem;
  border-radius: 2rem;
}
.project-grid .project-card .project-text {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.project-grid .project-card .project-tools {
  display: flex;
  gap: 1rem;
}
.project-grid .project-card .project-tools img {
  width: 2.4rem;
  height: 2.4rem;
}
.project-grid .project-card .project-type {
  color: #205fff;
  font-size: 1.6rem;
}
.project-grid .project-card .project-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: #1d1d1d;
}
.project-grid .project-card .project-desc {
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #1d1d1d;
}

.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #1d1d1d;
}
.call-to-action .cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #205fff;
  border-radius: 3.5rem;
  color: #ffffff;
  padding: 5.9rem 34.9rem;
  margin-top: -7rem;
  margin-bottom: 7.1rem;
  width: 90%;
  height: 40rem;
}
.call-to-action h2 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 6.5rem;
  margin-bottom: 2rem;
  letter-spacing: -5.5%;
}
.call-to-action p {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 3.6rem;
}
.call-to-action a {
  padding: 1.6rem 3.2rem;
  border-radius: 7rem;
  display: flex;
  gap: 4.2rem;
  align-items: center;
  transition: all 0.3s;
  font-weight: 700;
  text-decoration: none;
  background-color: #ffffff;
  padding: 1.6rem 3.2rem;
  border-radius: 7rem;
  font-weight: 700;
  color: #1d1d1d;
  width: 23rem;
  font-size: 1.6rem;
}
.call-to-action a img {
  width: 2.4rem;
  height: 2.4rem;
}

.footer {
  background-color: #1d1d1d;
}
.footer .container {
  padding: 0 12rem 9rem 12rem;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .footer-logo {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 3rem;
}
.footer .footer-top .footer-logo p {
  color: #ffffff;
}
.footer .footer-top .tag {
  font-size: 1.6rem;
  line-height: 153.5%;
  color: #fff;
  opacity: 0.6;
}
.footer .footer-top-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.footer .footer-top-right .contact-detail {
  display: flex;
  gap: 2rem;
}
.footer .footer-top-right .social-icons {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  width: 100%;
}
.footer .footer-top-right .social-icons svg {
  height: 4rem;
  width: auto;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
  overflow: visible;
  fill: black;
}
.footer hr {
  height: 1px;
  border-color: #404040;
  margin: 3rem 0;
}
.footer .footer-bottom {
  display: flex;
}
.footer .footer-bottom ul {
  display: flex;
  gap: 3.2rem;
}
.footer .footer-bottom ul a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.footer .footer-bottom p {
  color: #fff;
  opacity: 0.6;
  margin-left: auto;
}

@media (max-width: 1072px) {
  nav .container {
    padding: 3rem 4.5rem;
  }
  nav .navbar-links {
    gap: 2.4rem;
  }
  .hero {
    height: auto;
  }
  .hero .container {
    padding: 8rem 4.5rem;
  }
  .hero h1 {
    font-size: 5.6rem;
  }
  .hero p {
    font-size: 2rem;
  }
  .hero .hero-img img {
    min-width: 35rem;
  }
  .hero .hero-links {
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
  }
  .about .container {
    padding: 8rem 4.5rem;
  }
  .about .about-flex-container {
    flex-direction: column;
    gap: 3.2rem;
  }
  .about .about-flex-container .about-left {
    width: 100%;
  }
  .about .about-flex-container .about-left .about-intro {
    font-size: 4rem;
    line-height: 5rem;
  }
  .about .about-flex-container .about-right {
    width: 100%;
  }
  .about .about-flex-container .about-right .about-body {
    font-size: 2rem;
  }
  .tools .container {
    padding: 8rem 4.5rem;
  }
  .tools .tool-bar {
    width: 100%;
    margin-bottom: 3.2rem;
  }
  .tools .tool-bar button {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .tools .tool-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .projects .container {
    padding: 8rem 4.5rem;
  }
  .projects h3 {
    font-size: 4rem;
  }
  .projects .project-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .call-to-action .cta-container {
    padding: 8rem 4.5rem;
    width: 95%;
  }
  .footer .container {
    padding: 0 12rem 9rem 12rem;
  }
}
@media (max-width: 878px) {
  nav .container .hamburger {
    display: block;
  }
  nav .container .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .container .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .container .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav .container .navbar-links {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.3s;
    width: 100%;
    gap: 1.6rem 0;
    padding-bottom: 2rem;
  }
  nav .container .navbar-links.active {
    left: 0;
  }
  nav .navbar-links {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.3s;
    width: 100%;
    gap: 1.6rem 0;
    opacity: 0.9;
  }
}
@media (max-width: 768px) {
  .tools .tool-bar {
    gap: 1.6rem;
  }
  .tools .tool-bar button {
    padding: 0;
    font-size: 1.5rem;
    display: inline-block;
  }
}
@media (max-width: 600px) {
  nav .container {
    padding: 1.4rem 2rem;
  }
  nav .container img {
    height: 4rem;
    width: 4rem;
  }
  nav .container p {
    display: none;
  }
}