@use "reset";
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.nav-left,
.navbar-links {
  display: flex;
  align-items: center;
}

nav {
  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 3rem 12rem;
  }
}

.nav-left {
  gap: 0.8rem;

  p {
    font-size: 2.2rem;
    color: variables.$main-text-color;
    font-weight: 800;
    line-height: 120%;
  }
}

.navbar-links {
  justify-content: space-between;
  align-items: center;
  gap: 3.3rem;

  a {
    color: variables.$main-text-color;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .email-btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: variables.$accent-color-blue;
    font-weight: 700;
    padding: 1.3rem 1.6rem;
    border: 1px solid variables.$accent-color-blue;
    border-radius: 50px;
    width: 15rem;
  }
}

.hero {
  // display: flex;
  // padding: 0 12rem;
  background-color: variables.$bg-color;
  width: 100vw;
  height: calc(100vh - 15rem);
  gap: 3.8rem;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 3rem 12rem;
    align-items: center;
  }

  h1 {
    font-size: 8.4rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 4.8rem;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 4.8rem;
  }

  a {
    text-decoration: none;
  }

  .hero-text {
    flex: 1 1 50%;
  }

  .hero-img {
    flex: 1 1 50%;
    img {
      width: 100%;
      min-width: 50rem;
      height: auto;
    }
  }
}

.hero-links {
  display: flex;
  gap: 5.6rem;
  font-size: 1.6rem;
  align-items: center;

  .hero-email-btn {
    background-color: variables.$accent-color-blue;
    color: #ffffff;
    padding: 1.6rem 3.2rem;
    border-radius: 70px;
    display: flex;
    gap: 4.2rem;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      background-color: variables.$accent-color-hover;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .resume-link {
    color: variables.$accent-color-blue;
    font-weight: 600;
    transition: all 3s;
    // font-size: 30rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.about {
  background-color: variables.$main-text-color;
  color: #ffffff;

  .container {
    padding: 14rem 12rem;
  }

  .about-flex-container {
    display: flex;
    gap: 6rem;
  }

  .about-left {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 50%;
  }

  .about-right {
    width: 50%;
    align-self: stretch;
  }

  .about-heading {
    color: variables.$subheading-grey;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 3.2rem;
  }

  .about-intro {
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 6rem;
  }

  .about-body {
    font-size: 2rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .social-icons {
    color: variables.$accent-color-blue;
    display: flex;
    gap: 2.4rem;

    svg {
      height: 5rem;
      width: auto;
      background-color: variables.$accent-color-blue;
      padding: 1rem;
      border-radius: 50%;
      overflow: visible;
    }
  }
}

.tools {
  .container {
    padding: 14rem 12rem;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    color: variables.$subheading-grey-opaque;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 5.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 6.4rem;
    margin-bottom: 4.8rem;
  }

  .tool-bar {
    display: flex;
    padding: 1.6rem;
    background-color: #efefef;
    border-radius: 5rem;
    justify-content: space-around;
    gap: 3.2rem;
    margin-bottom: 6.8rem;
    // position: relative;
  }

  button {
    color: variables.$accent-color-blue;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.04rem;
    border-style: none;
    padding: 1.3rem 2rem;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .selected {
    background-color: variables.$accent-color-blue;
    color: #ffffff;
    border-radius: 70px;
  }
}

.tool-grid {
  display: grid;
  gap: 4rem 4.8rem;
  grid-template-columns: repeat(8, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 10rem;
    height: 10rem;
    height: auto;
    margin-bottom: 0.8rem;
  }
  p {
    color: variables.$main-text-color;
    font-size: 2rem;
    letter-spacing: -0.2px;
    text-align: center;
  }
}

// }
