@use "reset";
@use "variables";
@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  // margin: 0 auto;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.nav-left,
.navbar-links {
  display: flex;
  align-items: center;
}

nav {
  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 3rem 12rem;
  }
}

.nav-left {
  gap: 0.8rem;

  p {
    @include mixins.logo-styling(variables.$main-text-color);
  }
}

.navbar-links {
  justify-content: space-between;
  align-items: center;
  gap: 3.3rem;

  a {
    color: variables.$main-text-color;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .email-btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: variables.$accent-color-blue;
    font-weight: 700;
    padding: 1.3rem 1.6rem;
    border: 1px solid variables.$accent-color-blue;
    border-radius: 50px;
    width: 15rem;
  }
}

.hero {
  // display: flex;
  // padding: 0 12rem;
  background-color: variables.$bg-color;
  width: 100vw;
  height: calc(100vh - 15rem);
  gap: 3.8rem;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 3rem 12rem;
    align-items: center;
  }

  h1 {
    font-size: 8.4rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 4.8rem;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 4.8rem;
  }

  a {
    text-decoration: none;
  }

  .hero-text {
    flex: 1 1 50%;
  }

  .hero-img {
    flex: 1 1 50%;
    img {
      width: 100%;
      min-width: 50rem;
      height: auto;
    }
  }
}

.hero-links {
  display: flex;
  gap: 5.6rem;
  font-size: 1.6rem;
  align-items: center;

  .hero-email-btn {
    @include mixins.email-btn;
    @include mixins.hover-btn;
    @include mixins.btn-arrow;
    background-color: variables.$accent-color-blue;
    color: #ffffff;
  }
  .resume-link {
    color: variables.$accent-color-blue;
    font-weight: 600;
    transition: all 3s;
    // font-size: 30rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.about {
  background-color: variables.$main-text-color;
  color: #ffffff;

  .container {
    padding: 14rem 12rem;
  }

  .about-flex-container {
    display: flex;
    gap: 6rem;
  }

  .about-left {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 50%;
  }

  .about-right {
    width: 50%;
    align-self: stretch;
  }

  .about-heading {
    color: variables.$subheading-grey;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 3.2rem;
  }

  .about-intro {
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 6rem;

    .about-span1 {
      color: variables.$pink;
    }

    .about-span2 {
      color: variables.$neon;
    }
  }

  .about-body {
    font-size: 2rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .social-icons {
    display: flex;
    gap: 2.4rem;

    svg {
      height: 5rem;
      width: auto;
      background-color: variables.$accent-color-blue;
      padding: 1rem;
      border-radius: 50%;
      overflow: visible;
    }
  }
}

.tools {
  .container {
    padding: 14rem 12rem;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    color: variables.$subheading-grey-opaque;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 5.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 6.4rem;
    margin-bottom: 4.8rem;
  }

  .tool-bar {
    display: flex;
    padding: 1.6rem;
    background-color: #efefef;
    border-radius: 5rem;
    justify-content: space-around;
    gap: 3.2rem;
    margin-bottom: 6.8rem;
    // position: relative;
  }

  button {
    color: variables.$accent-color-blue;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.04rem;
    border-style: none;
    padding: 1.3rem 2rem;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .selected {
    background-color: variables.$accent-color-blue;
    color: #ffffff;
    border-radius: 70px;
  }
}

.tool-grid {
  display: grid;
  gap: 4rem 4.8rem;
  grid-template-columns: repeat(8, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 10rem;
    height: 10rem;
    height: auto;
    margin-bottom: 0.8rem;
  }
  p {
    color: variables.$main-text-color;
    font-size: 2rem;
    letter-spacing: -0.2px;
    text-align: center;
  }
}

.projects {
  background-color: variables.$bg-color;

  .container {
    padding: 14rem 12rem;
  }
  h2 {
    text-align: center;
    font-size: 1.6rem;
    color: variables.$subheading-grey-opaque;
    line-height: 140%;
    margin-bottom: 1.3rem;
  }

  h3 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: 0.264rem;
    color: variables.$main-text-color;
    margin-bottom: 6rem;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  a {
    text-decoration: none;
  }

  .project-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 2rem;
    gap: 2.1rem;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      transform: translateY(-0.5rem);
      cursor: pointer;
    }
    img {
      width: 30rem;
      height: 22rem;
      border-radius: 2rem;
    }

    .project-text {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
    }

    .project-tools {
      display: flex;
      gap: 1rem;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .project-type {
      color: variables.$accent-color-blue;
      font-size: 1.6rem;
    }

    .project-title {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.02rem;
      color: variables.$main-text-color;
    }

    .project-desc {
      font-size: 1.6rem;
      line-height: 2.3rem;
      color: variables.$main-text-color;
    }
  }
}

.call-to-action {
  display: flex;
  justify-content: center;
  background-color: variables.$main-text-color;

  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$accent-color-blue;
    border-radius: 3.5rem;
    color: #ffffff;
    padding: 5.9rem 34.9rem;
    margin-top: -7rem;
    margin-bottom: 7.1rem;
  }

  h2 {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 6.5rem;
    margin-bottom: 2rem;
    letter-spacing: -5.5%;
  }

  p {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 3.6rem;
  }

  a {
    @include mixins.email-btn;
    @include mixins.btn-arrow;
    text-decoration: none;
    background-color: #ffffff;
    padding: 1.6rem 3.2rem;
    border-radius: 7rem;
    font-weight: 700;
    color: variables.$main-text-color;
    width: 42%;
  }
}

.footer {
  background-color: variables.$main-text-color;

  .container {
    padding: 0 12rem 9rem 12rem;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;

    .footer-logo {
      @include mixins.logo-styling(#ffffff);
      gap: 0.8rem;
      margin-bottom: 3rem;
      // display: flex;
      // align-items: center;
      // color: #fff;
      // font-size: 2.2rem;
      // font-weight: 800;
    }

    .tag {
      font-size: 1.6rem;
      line-height: 153.5%;
      color: #fff;
      opacity: 0.6;
    }
  }

  .footer-top-right {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    .contact-detail {
      display: flex;
      gap: 2rem;
    }

    .social-icons {
      display: flex;
      gap: 2.4rem;
      justify-content: center;
      width: 100%;

      svg {
        height: 4rem;
        width: auto;
        background-color: #fff;
        padding: 0.8rem;
        border-radius: 50%;
        overflow: visible;
        fill: black;
      }
    }
  }
  hr {
    height: 1px;
    border-color: #404040;
    margin: 3rem 0;
  }

  .footer-bottom {
    display: flex;

    ul {
      display: flex;
      gap: 3.2rem;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
      }
    }
    p {
      color: #fff;
      opacity: 0.6;
      margin-left: auto;
    }
  }
}

// }
