$accent-color-blue: #205fff;
$subheading-grey: rgba(255, 255, 255, 0.6);
$subheading-grey-opaque: rgba(29, 29, 29, 0.5);
$accent-color-hover: #1a4ccc;
$accent-color-green: #4fde7f;
$accent-color-orange: #ffab44;
$bg-color: #eaeaea;
$main-text-color: #1d1d1d;
$pink: #ff205f;
$neon: #5fff20;
